<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circuits - Fórmula 1</title>
    <link rel="icon" href="https://lezebre.lu/images/detailed/79/45334-Sticker-Formula-1-nouveau-logo-F1.png" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="Fórmula 1 Logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('strategy') }}">Strategy</a></li>
                <li><a href="{{ url_for('learn') }}">Learn</a></li>
                <li><a href="{{ url_for('circuits') }}">Circuits</a></li>
                <li><a href="{{ url_for('teams') }}">Teams</a></li>
                <li><a href="{{ url_for('drivers') }}">Drivers</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Formula 1 Calendar 2024</h1>
        <div class="circuits-container">
            <div class="circuit">
                <h2>FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Bahrain_Circuit" alt="Circuito Internacional de Bahréin">
                <p>Length: 5.412 km</p>
                <p>Location: Sakhir, Bahréin</p>
                <p>Number of laps: 57</p>
                <p>Tire degradation: Medium</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Saudi_Arabia_Circuit" alt="Circuito de Jeddah">
                <p>Length: 6.174 km</p>
                <p>Location: Jeddah, Arabia Saudí</p>
                <p>Number of laps: 50</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Australia_Circuit" alt="Circuito de Albert Park">
                <p>Length: 5.303 km</p>
                <p>Location: Melbourne, Australia</p>
                <p>Number of laps: 58</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 MSC CRUISES JAPANESE GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Japan_Circuit" alt="Circuito de Suzuka">
                <p>Length: 5.807 km</p>
                <p>Location: Suzuka, Japón</p>
                <p>Number of laps: 53</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 LENOVO CHINESE GRAND PRIX 2024</h2>
                <img src="https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/China_Circuit.png" alt="Circuito de Shanghái">
                <p>Length: 5.451 km</p>
                <p>Location: Shanghai, China</p>
                <p>Number of laps: 56</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Miami_Circuit" alt="Circuito de Miami">
                <p>Length: 5.412 km</p>
                <p>Location: Miami, USA</p>
                <p>Number of laps: 57</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 MSC CRUISES GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA-ROMAGNA 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Emilia_Romagna_Circuit" alt="Circuito de Imola">
                <p>Length: 4.909 km</p>
                <p>Location: Imola, Italia</p>
                <p>Number of laps: 63</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 GRAND PRIX DE MONACO 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Monaco_Circuit" alt="Circuito de Mónaco">
                <p>Length: 3.337 km</p>
                <p>Location: Mónaco, Mónaco</p>
                <p>Number of laps: 78</p>
                <p>Tire degradation: Low</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 AWS GRAND PRIX DU CANADA 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Canada_Circuit" alt="Circuito Gilles Villeneuve">
                <p>Length: 4.361 km</p>
                <p>Location: Montreal, Canadá</p>
                <p>Number of laps: 70</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Spain_Circuit" alt="Circuito de Barcelona-Catalunya">
                <p>Length: 4.655 km</p>
                <p>Location: Montmeló, España</p>
                <p>Number of laps: 66</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 QATAR AIRWAYS AUSTRIAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Austria_Circuit" alt="Red Bull Ring">
                <p>Length: 4.318 km</p>
                <p>Location: Spielberg, Austria</p>
                <p>Number of laps: 71</p>
                <p>Tire degradation: Low</p>
            </div>

            <div class="circuit">
                <h2>GFORMULA 1 QATAR AIRWAYS BRITISH GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Great_Britain_Circuit" alt="Circuito de Silverstone">
                <p>Length: 5.891 km</p>
                <p>Location: Silverstone, Gran Bretaña</p>
                <p>Number of laps: 52</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 HUNGARIAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Hungary_Circuit" alt="Hungaroring">
                <p>Length: 4.381 km</p>
                <p>Location: Mogyoród, Hungría</p>
                <p>Number of laps: 70</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Belgium_Circuit" alt="Circuito de Spa-Francorchamps">
                <p>Length: 7.004 km</p>
                <p>Location: Stavelot, Bélgica</p>
                <p>Number of laps: 44</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Netherlands_Circuit" alt="Circuito de Zandvoort">
                <p>Length: 4.259 km</p>
                <p>Location: Zandvoort, Países Bajos</p>
                <p>Number of laps: 72</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Italy_Circuit" alt="Autodromo Nazionale Monza">
                <p>Length: 5.793 km</p>
                <p>Location: Monza, Italia</p>
                <p>Number of laps: 53</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 QATAR AIRWAYS AZERBAIJAN GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Baku_Circuit" alt="Circuito callejero de Baku">
                <p>Length: 6.003 km</p>
                <p>Location: Baku, Azerbaiyán</p>
                <p>Number of laps: 51</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Singapore_Circuit" alt="Marina Bay Street Circuit">
                <p>Length: 5.063 km</p>
                <p>Location: Singapur, Singapur</p>
                <p>Number of laps: 61</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 PIRELLI UNITED STATES GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/USA_Circuit" alt="Circuito de las Américas">
                <p>Length: 5.513 km</p>
                <p>Location: Austin, Estados Unidos</p>
                <p>Number of laps: 56</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Mexico_Circuit" alt="Autódromo Hermanos Rodríguez">
                <p>Length: 4.304 km</p>
                <p>Location: Ciudad de México, México</p>
                <p>Number of laps: 71</p>
                <p>Tire degradation: Low</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 LENOVO GRANDE PRÊMIO DE SÃO PAULO 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Brazil_Circuit" alt="Autódromo José Carlos Pace">
                <p>Length: 4.309 km</p>
                <p>Location: São Paulo, Brasil</p>
                <p>Number of laps: 71</p>
                <p>Tire degradation: Media</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Las_Vegas_Circuit" alt="Circuito de Las Vegas">
                <p>Length: 6.120 km</p>
                <p>Location: Las Vegas, USA</p>
                <p>Number of laps: 50</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 QATAR AIRWAYS QATAR GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Qatar_Circuit" alt="Circuito Internacional de Losail">
                <p>Length: 5.380 km</p>
                <p>Location: Lusail, Catar</p>
                <p>Number of laps: 57</p>
                <p>Tire degradation: High</p>
            </div>

            <div class="circuit">
                <h2>FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2024</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_auto,w_1320/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Abu_Dhabi_Circuit" alt="Circuito Yas Marina">
                <p>Length: 5.554 km</p>
                <p>Location: Abu Dabi, Emiratos Árabes Unidos</p>
                <p>Number of laps: 55</p>
                <p>Tire degradation: Low</p>
            </div>
        </div>
    </main>
</body>
</html>
