<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers - Fórmula 1</title>
    <link rel="icon" href="https://lezebre.lu/images/detailed/79/45334-Sticker-Formula-1-nouveau-logo-F1.png" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg" alt="Fórmula 1 Logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('strategy') }}">Strategy</a></li>
                <li><a href="{{ url_for('learn') }}">Learn</a></li>
                <li><a href="{{ url_for('circuits') }}">Circuits</a></li>
                <li><a href="{{ url_for('teams') }}">Teams</a></li>
                <li><a href="{{ url_for('drivers') }}">Drivers</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Drivers in Fórmula 1</h1>
        <div class="driver-container">
            
            <div class="driver">
                <h2>Max Verstappen</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/verstappen" alt="Max Verstappen">
                <p>Team: Red Bull Racing</p>
                <p>World Championships: 4</p>
                <p>Country: Netherlands</p>
                <p>Debut Year: 2015</p>
            </div>

            <div class="driver">
                <h2>Sergio Pérez</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/perez" alt="Sergio Pérez">
                <p>Team: Red Bull Racing</p>
                <p>World Championships: 0</p>
                <p>Country: Mexico</p>
                <p>Debut Year: 2011</p>
            </div>

            <div class="driver">
                <h2>Lewis Hamilton</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/hamilton" alt="Lewis Hamilton">
                <p>Team: Mercedes AMG Petronas</p>
                <p>World Championships: 7</p>
                <p>Country: United Kingdom</p>
                <p>Debut Year: 2007</p>
            </div>

            <div class="driver">
                <h2>George Russell</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/russell" alt="George Russell">
                <p>Team: Mercedes AMG Petronas</p>
                <p>World Championships: 0</p>
                <p>Country: United Kingdom</p>
                <p>Debut Year: 2019</p>
            </div>

            <div class="driver">
                <h2>Carlos Sainz</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/sainz" alt="Carlos Sainz">
                <p>Team: Scuderia Ferrari</p>
                <p>World Championships: 0</p>
                <p>Country: Spain</p>
                <p>Debut Year: 2015</p>
            </div>

            <div class="driver">
                <h2>Charles Leclerc</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/leclerc" alt="Charles Leclerc">
                <p>Team: Scuderia Ferrari</p>
                <p>World Championships: 0</p>
                <p>Country: Monaco</p>
                <p>Debut Year: 2018</p>
            </div>

            <div class="driver">
                <h2>Fernando Alonso</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/alonso" alt="Fernando Alonso">
                <p>Team: Aston Martin Cognizant</p>
                <p>World Championships: 2</p>
                <p>Country: Spain</p>
                <p>Debut Year: 2001</p>
            </div>

            <div class="driver">
                <h2>Lance Stroll</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/stroll" alt="Lance Stroll">
                <p>Team: Aston Martin Cognizant</p>
                <p>World Championships: 0</p>
                <p>Country: Canada</p>
                <p>Debut Year: 2017</p>
            </div>

            <div class="driver">
                <h2>Lando Norris</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/norris" alt="Lando Norris">
                <p>Team: McLaren F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: United Kingdom</p>
                <p>Debut Year: 2019</p>
            </div>

            <div class="driver">
                <h2>Oscar Piastri</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/piastri" alt="Oscar Piastri">
                <p>Team: McLaren F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: Australia</p>
                <p>Debut Year: 2023</p>
            </div>

            <div class="driver">
                <h2>Esteban Ocon</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/ocon" alt="Esteban Ocon">
                <p>Team: Alpine F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: France</p>
                <p>Debut Year: 2016</p>
            </div>
            
            <div class="driver">
                <h2>Pierre Gasly</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/gasly" alt="Pierre Gasly">
                <p>Team: Alpine F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: France</p>
                <p>Debut Year: 2017</p>
            </div>

            <div class="driver">
                <h2>Alexander Albon</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/albon" alt="Alexander Albon">
                <p>Team: Williams Racing</p>
                <p>World Championships: 0</p>
                <p>Country: Thailand</p>
                <p>Debut Year: 2019</p>
            </div>
            
            <div class="driver">
                <h2>Franco Colapinto</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/colapinto" alt="Franco Colapinto">
                <p>Team: Williams Racing</p>
                <p>World Championships: 0</p>
                <p>Country: Argentina</p>
                <p>Debut Year: 2024</p>
            </div>

            <div class="driver">
                <h2>Kevin Magnussen</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/magnussen" alt="Kevin Magnussen">
                <p>Team: Haas F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: Denmark</p>
                <p>Debut Year: 2014</p>
            </div>
            
            <div class="driver">
                <h2>Nico Hülkenberg</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/hulkenberg" alt="Nico Hülkenberg">
                <p>Team: Haas F1 Team</p>
                <p>World Championships: 0</p>
                <p>Country: Germany</p>
                <p>Debut Year: 2010</p>
            </div>

            <div class="driver">
                <h2>Valtteri Bottas</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/bottas" alt="Valtteri Bottas">
                <p>Team: Alfa Romeo Racing</p>
                <p>World Championships: 0</p>
                <p>Country: Finland</p>
                <p>Debut Year: 2013</p>
            </div>
            
            <div class="driver">
                <h2>Zhou Guanyu</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/zhou" alt="Zhou Guanyu">
                <p>Team: Alfa Romeo Racing</p>
                <p>World Championships: 0</p>
                <p>Country: China</p>
                <p>Debut Year: 2022</p>
            </div>
            
            <div class="driver">
                <h2>Yuki Tsunoda</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/tsunoda" alt="Yuki Tsunoda">
                <p>Team: Scuderia AlphaTauri</p>
                <p>World Championships: 0</p>
                <p>Country: Japan</p>
                <p>Debut Year: 2021</p>
            </div>
            
            <div class="driver">
                <h2>Daniel Ricciardo</h2>
                <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/ricciardo" alt="Daniel Ricciardo">
                <p>Team: Scuderia AlphaTauri</p>
                <p>World Championships: 0</p>
                <p>Country: Australia</p>
                <p>Debut Year: 2011</p>
            </div>
            
        </div>
    </main>
</body>
</html>
